doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/flat-ui.css')
    link(rel='stylesheet', href='/stylus/site.css')
    script(src='http://code.jquery.com/jquery-1.9.0.min.js')
    script(src='/lifesupport.js')
  body
    block content
    script(src='/browserify.js')